<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.sf.dao.mapper.TfSysUserPasswordMapper">
  <resultMap id="BaseResultMap" type="com.sf.dao.model.TfSysUserPassword">
    <!--
      WARNING - @mbg.generated
    -->
    <id column="USER_ID" jdbcType="BIGINT" property="userId" />
    <result column="PASSWORD" jdbcType="VARCHAR" property="password" />
    <result column="LAST_UPDATE_TIME" jdbcType="TIMESTAMP" property="lastUpdateTime" />
    <result column="CREATE_BY" jdbcType="VARCHAR" property="createBy" />
    <result column="CREATE_TIME" jdbcType="TIMESTAMP" property="createTime" />
    <result column="UPDATE_BY" jdbcType="VARCHAR" property="updateBy" />
    <result column="UPDATE_TIME" jdbcType="TIMESTAMP" property="updateTime" />
  </resultMap>
</mapper>